.container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.filters {
  position: sticky;
  top: 0;
}
.paginatedAndCards {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  scroll-behavior: smooth;
}